
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
  }
  
  /* Style pour l'image dans le panier */
  .cart-item img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  
  /* Style pour le nom et le prix dans le panier */
  .cart-item .cart-item-details {
    display: flex;
    flex-direction: column;
  }
  
  /* Style pour le bouton "Passer commande" */
  #place-order {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  #item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #item-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    margin: 20px;
  }
  
  #item-list li img {
    width: 80%;
    margin-bottom: 10px;
  }
  
  #item-list li h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  #item-list li p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  #item-list li button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

  .slideshow-container {
    max-width: 700px;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }


/* #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
   */
  

  form {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input, textarea {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0062cc;
  }
  
  input:focus, textarea:focus {
    outline: none;
    border-color: #007bff;
  }
  #scroll-to-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
}

#scroll-to-top-button.show {
    display: block;
}
label {
    display: block;
    margin-bottom: 5px;
}